<settings>
  <setting nom="Fichier de Carte">
    <field>map_sail_the_world.xml</field>
  </setting>
  <setting nom="Chemin Simulateur">
    <field>/run/media/remyb/Data/Programmation/2020 - 2021/Cours ENAC/python/Projet_Info_2020/robotSim/simu_robot.py</field>
  </setting>
  <setting nom="UP_KEY">
    <field>z</field>
  </setting>
  <setting nom="DOWN_KEY">
    <field>s</field>
  </setting>
  <setting nom="LEFT_KEY">
    <field>q</field>
  </setting>
  <setting nom="RIGHT_KEY">
    <field>d</field>
  </setting>
</settings>
